# Ignorar la carpeta de configuración de Vercel
.vercel

# Ignorar la carpeta de módulos de Node.js
node_modules

# Ignorar el archivo de variables de entorno
.env

# Ignorar todo en la carpeta prisma
/prisma/*

# No ignorar el archivo schema.prisma en la carpeta prisma
!/prisma/schema.prisma
